# NonNegative ALS with just Stars

https://spark.apache.org/docs/latest/ml-collaborative-filtering.html

In [1]:
import pandas as pd
import numpy as np

import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS

# Setup a SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
# import src_2.evaluate as evaluate

# # Convert a Pandas DF to a Spark DF
# spark_df = spark.createDataFrame(pandas_df) 

# # Convert a Spark DF to a Pandas DF
# pandas_df = spark_df.toPandas()

In [2]:
train_starred = pd.read_pickle('data/pickled/train_starred.pkl')
test_starred = pd.read_pickle('data/pickled/test_starred.pkl')

In [3]:
spark_train_stars_df = spark.createDataFrame(train_starred)
spark_test_stars_df = spark.createDataFrame(test_starred)

#### check spark dataframes

In [4]:
spark_train_stars_df.show()

+--------+-------+-------------------+---------------+----+--------------------+--------+-------+
| repo_id|user_id|         created_at|          login|type|                 url|language|starred|
+--------+-------+-------------------+---------------+----+--------------------+--------+-------+
|   12031| 889397|1202439272000000000|       cdcarter| USR|https://api.githu...|    Ruby|      1|
|52574448| 889397|1202442872000000000|       cdcarter| USR|https://api.githu...|      \N|      1|
|   12031|  17898|1203008090000000000|        gnufied| USR|https://api.githu...|    Ruby|      1|
|   12031|  25789|1203568157000000000|          Sutto| USR|https://api.githu...|    Ruby|      1|
|   12031|  10942|1203910346000000000|       tarcieri| USR|https://api.githu...|    Ruby|      1|
|   12031|  35126|1204050466000000000|         cypher| USR|https://api.githu...|    Ruby|      1|
|40916741| 401456|1204169012000000000|           dsrw| USR|https://api.githu...|   Shell|      1|
|   12031|  60568|1204188452000000000|         rmoriz| USR|https://api.githu...|    Ruby|      1|
|   12031|  23329|1204289546000000000|         joshua| USR|https://api.githu...|    Ruby|      1|
|22081833|  23823|1204326283000000000|         bmabey| USR|https://api.githu...|     TeX|      1|
|   12031|    676|1204733314000000000|     charleseff| USR|https://api.githu...|    Ruby|      1|
|40916741|  26723|1204798197000000000|      pfefferle| USR|https://api.githu...|   Shell|      1|
|   12031|   9273|1204938631000000000|           tmm1| USR|https://api.githu...|    Ruby|      1|
|   12031|   6113|1205164599000000000|      diasjorge| USR|https://api.githu...|    Ruby|      1|
|   12031|   6737|1205767427000000000|     sgtcoolguy| USR|https://api.githu...|    Ruby|      1|
|22049966|    452|1205795777000000000|      adragomir| USR|https://api.githu...|  Python|      1|
|40916741| 192845|1205859595000000000|       gohanlon| USR|https://api.githu...|   Shell|      1|
|   12031|   2308|1206373140000000000|smtlaissezfaire| USR|https://api.githu...|    Ruby|      1|
|   12031|   7604|1207240079000000000|        nathany| USR|https://api.githu...|    Ruby|      1|
|   12031|   2956|1207286409000000000|       bendiken| USR|https://api.githu...|    Ruby|      1|
+--------+-------+-------------------+---------------+----+--------------------+--------+-------+
only showing top 20 rows

In [5]:
spark_test_stars_df.show()

+--------+--------+-------------------+-----------------+----+--------------------+----------+-------+
| repo_id| user_id|         created_at|            login|type|                 url|  language|starred|
+--------+--------+-------------------+-----------------+----+--------------------+----------+-------+
|55567488| 6694284|1485492399000000000|          CaiJiJi| USR|https://api.githu...|    Python|      1|
|    1282|13665131|1485492672000000000|         tarvos21| USR|https://api.githu...|    Python|      1|
|   16356| 6806774|1485492818000000000|       acro5piano| USR|https://api.githu...|       PHP|      1|
|12651428|   11997|1485492868000000000|           alias1| USR|https://api.githu...|    Python|      1|
|  394885| 9279104|1485493232000000000|        nilsdeppe| USR|https://api.githu...|    Python|      1|
|29629404| 2060726|1485493578000000000|           Patola| USR|https://api.githu...|         C|      1|
|   38701|12092442|1485493937000000000|         buhuipao| USR|https://api.githu...|    Python|      1|
| 4876188|  704249|1485493945000000000|         yukimori| USR|https://api.githu...|      Java|      1|
|16286325|  704249|1485493950000000000|         yukimori| USR|https://api.githu...|      Java|      1|
|20337473|11491400|1485493966000000000|        2018sjain| USR|https://api.githu...|      Java|      1|
| 6063252| 2041518|1485493967000000000|           yangnw| USR|https://api.githu...|    Python|      1|
| 3742671|10813264|1485494000000000000|   pandeydivesh15| USR|https://api.githu...|       PHP|      1|
|55366196| 6389717|1485494109000000000|andresitodeguzman| USR|https://api.githu...|    Python|      1|
|10104856|  288758|1485494343000000000|            xissy| USR|https://api.githu...|JavaScript|      1|
|   13296| 8345633|1485494713000000000|         genevera| USR|https://api.githu...|     Shell|      1|
|55794638|     245|1485495116000000000|     jefftriplett| USR|https://api.githu...|    Python|      1|
| 4173288| 8539793|1485495208000000000|      FooBarQuaxx| USR|https://api.githu...|    Python|      1|
|11537087|11734536|1485495265000000000|         roughike| USR|https://api.githu...|      Java|      1|
|30081376| 2231598|1485495373000000000|            jstol| USR|https://api.githu...|        Go|      1|
|   78029|  785672|1485495566000000000|           leomao| USR|https://api.githu...|    Python|      1|
+--------+--------+-------------------+-----------------+----+--------------------+----------+-------+
only showing top 20 rows

#### create ALS recommender model

In [9]:
als_model = ALS(
    itemCol='repo_id',
    userCol='user_id',
    ratingCol='starred',
    nonnegative=True,    
    regParam=0.1,
    rank=10
    )

In [10]:
recommender = als_model.fit(spark_train_stars_df)
predictions = recommender.transform(spark_test_stars_df)

In [8]:
predictions.show()

+-------+--------+-------------------+-------------+----+--------------------+--------+-------+----------+
|repo_id| user_id|         created_at|        login|type|                 url|language|starred|prediction|
+-------+--------+-------------------+-------------+----+--------------------+--------+-------+----------+
|   1088| 1966345|1490671147000000000|    craigwong| USR|https://api.githu...|       C|      1|0.89964926|
|   1088| 6504088|1487783348000000000|ghostwriternr| USR|https://api.githu...|       C|      1|0.89964825|
|   1088|10452600|1489503628000000000|     mike168m| USR|https://api.githu...|       C|      1| 0.8996487|
|   1088|26464620|1488393840000000000|  amitbansal7| USR|https://api.githu...|       C|      1|       NaN|
|   1088|31125242|1493660697000000000|     rmccorm4| USR|https://api.githu...|       C|      1|       NaN|
|   1088| 1383890|1492655096000000000|       Xwoder| USR|https://api.githu...|       C|      1|  0.899648|
|   1088| 8635446|1489621495000000000|     cdrrazan| USR|https://api.githu...|       C|      1|  0.899648|
|   1088| 3329382|1488260790000000000|     dettervt| USR|https://api.githu...|       C|      1| 0.8996488|
|   1088| 8143877|1492570547000000000|     kzlin129| USR|https://api.githu...|       C|      1| 0.8996477|
|   1088|10096198|1489989106000000000|     doitliao| USR|https://api.githu...|       C|      1| 0.8996484|
|   1088|12094050|1486693475000000000|  spambusters| USR|https://api.githu...|       C|      1|0.89964885|
|   1088|32198618|1495172662000000000| YuanChenmang| USR|https://api.githu...|       C|      1| 0.8996492|
|   1088|35187952|1498249272000000000|     xPushkin| USR|https://api.githu...|       C|      1|       NaN|
|   1088| 3374019|1497902648000000000|   samverneck| USR|https://api.githu...|       C|      1|       NaN|
|   1088| 7233839|1490036775000000000|     Anik1199| USR|https://api.githu...|       C|      1|  0.899475|
|   1088| 4400730|1489861464000000000|  PeterFeicht| USR|https://api.githu...|       C|      1| 0.8996468|
|   1088| 7265047|1489513089000000000|jaantollander| USR|https://api.githu...|       C|      1| 0.8996479|
|   1088|24310270|1497072791000000000|   Alirezaies| USR|https://api.githu...|       C|      1|0.89964825|
|   1088|32034780|1493007580000000000|     zhebinhu| USR|https://api.githu...|       C|      1| 0.8996486|
|   1088| 2079241|1498675759000000000|      Crandel| USR|https://api.githu...|       C|      1|0.89964825|
+-------+--------+-------------------+-------------+----+--------------------+--------+-------+----------+
only showing top 20 rows

# NonNegative ALS with Stars & Forks (implicit weighted actions)

https://spark.apache.org/docs/latest/ml-collaborative-filtering.html

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
# from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating

# Setup a SparkSession
spark = SparkSession.builder.getOrCreate()

In [92]:
forks_and_stars = pd.read_pickle('data/pickled/forks_and_stars.pkl')
forks_and_stars.columns

Index([u'user_id', u'repo_id', u'forked', u'created_at', u'starred',
       u'interest_rank'],
      dtype='object')

#### since I didn't pickle train and test data for this run using both Star and Forks, create my timestamp ordered train-test split

In [93]:
def ordered_train_test_split(df, order_by, test_size=0.33):
    '''
    Takes a pandas dataframe and returns a train and test dataset ordered by the 
    column name passed to order_by and sliced up to the test_size
    INPUT:
    df: pandas df
    order_by: list or str of column names
    test_size: float percentage of df to use as test set
    OUTPUT:
    train: pandas dataframe
    test: pandas dataframe
    '''
    upto = int(df.shape[0] * (1 - test_size))
    df = df.sort_values(by=order_by, axis=0)
    train = df.iloc[:upto,:]
    test = df.iloc[upto:,:]
    return train, test

In [94]:
train_forks_stars, test_forks_stars = ordered_train_test_split(
    forks_and_stars, order_by=['created_at'], test_size=0.33)

In [95]:
print train_forks_stars.shape
print test_forks_stars.shape

(681076, 6)
(335456, 6)

#### create spark dataframes for train/test data

In [96]:
sp_train_forks_stars = spark.createDataFrame(train_forks_stars)
sp_test_forks_stars = spark.createDataFrame(test_forks_stars)

In [97]:
model = ALS(
    itemCol='repo_id',
    userCol='user_id',
    ratingCol='interest_rank',
    implicitPrefs=True,
    nonnegative=True,    
    maxIter=10, 
    alpha=0.01
    )

In [98]:
recommender = model.fit(sp_train_forks_stars)
predictions = recommender.transform(sp_test_forks_stars)

In [99]:
pred_df = predictions.toPandas()

In [100]:
pred_df.sort_values(['user_id','prediction'], ascending=False)

,user_id,repo_id,forked,created_at,starred,interest_rank,prediction
17451,36791462,68425726,2.0,1498863052000000000,0.0,2.0,NaN
3042,36791293,20711751,2.0,1498861756000000000,1.0,3.0,NaN
93307,36791293,20711251,0.0,1498861751000000000,1.0,1.0,NaN
24524,36791076,38393576,2.0,1498860785000000000,0.0,2.0,NaN
141628,36790822,24958152,2.0,1498858442000000000,0.0,2.0,NaN
324068,36790741,63547354,2.0,1498860145000000000,0.0,2.0,NaN
320981,36790642,51568068,2.0,1498857388000000000,0.0,2.0,NaN
296748,36790336,13057459,2.0,1498855585000000000,0.0,2.0,NaN
255195,36789893,30334789,2.0,1498853132000000000,0.0,2.0,NaN
183068,36789460,27683242,2.0,1498850815000000000,0.0,2.0,NaN
113448,36789122,68489751,2.0,1498852690000000000,0.0,2.0,NaN
65830,36788514,11250,2.0,1498858541000000000,1.0,3.0,NaN
27163,36782379,28086922,2.0,1498837685000000000,0.0,2.0,NaN
242405,36782263,30435325,2.0,1498843646000000000,1.0,3.0,NaN
213391,36781854,62011855,2.0,1498838417000000000,0.0,2.0,NaN
259427,36781495,90301,2.0,1498834406000000000,0.0,2.0,NaN
4448,36781247,19091312,2.0,1498834554000000000,0.0,2.0,NaN
308738,36781138,15655517,2.0,1498833093000000000,0.0,2.0,NaN
192444,36780803,54126229,2.0,1498831780000000000,0.0,2.0,NaN
142308,36780630,66239172,2.0,1498832510000000000,0.0,2.0,NaN
69892,36780156,3410497,2.0,1498829237000000000,0.0,2.0,NaN
2144,36778919,50612425,2.0,1498823535000000000,0.0,2.0,NaN
61101,36777368,62868765,2.0,1498816703000000000,0.0,2.0,NaN
273301,36777291,10458705,2.0,1498816341000000000,0.0,2.0,NaN
7930,36776744,31015183,2.0,1498814656000000000,0.0,2.0,NaN
275046,36776578,14358016,2.0,1498813655000000000,0.0,2.0,NaN
201806,36776373,65098578,2.0,1498812845000000000,0.0,2.0,NaN
201805,36776316,65098578,2.0,1498812646000000000,0.0,2.0,NaN
252247,36775935,67741861,2.0,1498811267000000000,0.0,2.0,NaN
229024,36775868,37814890,2.0,1498820061000000000,0.0,2.0,NaN
...,...,...,...,...,...,...,...
76550,113,29883845,2.0,1493783954000000000,0.0,2.0,NaN
114423,113,49873231,2.0,1497873912000000000,0.0,2.0,NaN
231411,113,35703,0.0,1486456577000000000,1.0,1.0,NaN
242492,113,32306288,2.0,1482330899000000000,0.0,2.0,NaN
247397,113,19179051,2.0,1490624279000000000,0.0,2.0,NaN
313651,112,16227547,2.0,1492802551000000000,0.0,2.0,0.000262
202142,112,5321325,2.0,1489972660000000000,0.0,2.0,0.000071
194959,107,26535,0.0,1486554306000000000,1.0,1.0,0.003070
138094,107,6339217,0.0,1486485498000000000,1.0,1.0,0.000146
82335,107,6496393,2.0,1492758617000000000,0.0,2.0,NaN
321519,91,9408722,2.0,1491497457000000000,0.0,2.0,NaN
299380,69,62677589,2.0,1498156590000000000,0.0,2.0,NaN
303110,32,3174,0.0,1488896114000000000,1.0,1.0,0.045397
48948,30,53303035,2.0,1484902782000000000,0.0,2.0,NaN
125759,30,57262470,2.0,1491555948000000000,0.0,2.0,NaN
300283,26,13407509,0.0,1488015965000000000,1.0,1.0,0.084471
249395,26,22059760,0.0,1487525231000000000,1.0,1.0,0.017361
173983,26,21264970,0.0,1495706624000000000,1.0,1.0,0.010046
84055,26,18196222,0.0,1497206847000000000,1.0,1.0,0.003990
175658,26,25058329,0.0,1483551943000000000,1.0,1.0,0.002044
50996,26,124554,0.0,1491242139000000000,1.0,1.0,0.000227
276966,10,18151962,0.0,1491550054000000000,1.0,1.0,0.014866
134284,10,43644249,2.0,1484558487000000000,1.0,3.0,0.007586
297644,10,43343000,0.0,1487663904000000000,1.0,1.0,0.002293
263187,10,29055134,0.0,1485952863000000000,1.0,1.0,0.000817
40538,4,11003743,0.0,1486321686000000000,1.0,1.0,0.005560
200276,4,8796303,0.0,1483519782000000000,1.0,1.0,0.002534
327746,4,12176390,0.0,1493741110000000000,1.0,1.0,0.001752
154730,4,11223,2.0,1496001752000000000,0.0,2.0,0.000137
267041,4,56129677,0.0,1496565630000000000,1.0,1.0,NaN

# NonNegative ALS with Stars & Owned Repos (implicit weighted actions)

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
# from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating

# Setup a SparkSession
spark = SparkSession.builder.getOrCreate()

In [101]:
own_and_star = pd.read_pickle('data/pickled/own_and_star.pkl')
own_and_star.columns

Index([u'repo_id', u'user_id', u'forked_from_repo_id', u'owned', u'created_at',
       u'starred', u'interest_rank'],
      dtype='object')

#### since I didn't pickle train and test data for this run using both Star and Forks, create my timestamp ordered train-test split

In [102]:
def ordered_train_test_split(df, order_by, test_size=0.33):
    '''
    Takes a pandas dataframe and returns a train and test dataset ordered by the 
    column name passed to order_by and sliced up to the test_size
    INPUT:
    df: pandas df
    order_by: list or str of column names
    test_size: float percentage of df to use as test set
    OUTPUT:
    train: pandas dataframe
    test: pandas dataframe
    '''
    upto = int(df.shape[0] * (1 - test_size))
    df = df.sort_values(by=order_by, axis=0)
    train = df.iloc[:upto,:]
    test = df.iloc[upto:,:]
    return train, test

In [103]:
train_owns_stars, test_owns_stars = ordered_train_test_split(
    own_and_star, order_by=['created_at'], test_size=0.33)

In [104]:
print train_owns_stars.shape
print test_owns_stars.shape

(743788, 7)
(366344, 7)

#### create spark dataframes for train/test data

In [106]:
sp_train_owns_stars = spark.createDataFrame(train_owns_stars)
sp_test_owns_stars = spark.createDataFrame(test_owns_stars)

In [107]:
model = ALS(
    itemCol='repo_id',
    userCol='user_id',
    ratingCol='interest_rank',
    implicitPrefs=True,
    nonnegative=True,    
    maxIter=10, 
    alpha=0.01
    )

In [108]:
recommender = model.fit(sp_train_owns_stars)
predictions = recommender.transform(sp_test_owns_stars)

In [109]:
pred_df = predictions.toPandas()

In [116]:
pred_df.sort_values(['prediction'], ascending=False).head(1000)

,repo_id,user_id,forked_from_repo_id,owned,created_at,starred,interest_rank,prediction
282462,28557277,7505241,0,0.0,1480606331000000000,1.0,1.0,0.631018
280951,28557277,1167967,0,0.0,1487261828000000000,1.0,1.0,0.607801
256745,390,298983,0,0.0,1492947411000000000,1.0,1.0,0.589153
280187,28557277,1169947,0,0.0,1484784289000000000,1.0,1.0,0.572772
317790,4708601,1653184,0,0.0,1494488748000000000,1.0,1.0,0.560179
87547,3231,17118,0,0.0,1483289169000000000,1.0,1.0,0.542329
321467,6876142,11830767,0,0.0,1485087352000000000,1.0,1.0,0.541163
317879,4708601,3903779,0,0.0,1483942209000000000,1.0,1.0,0.539302
247445,9664377,1733408,0,0.0,1497235274000000000,1.0,1.0,0.538258
281864,28557277,2825561,0,0.0,1487201684000000000,1.0,1.0,0.534949
282108,28557277,6458,0,0.0,1491574650000000000,1.0,1.0,0.533125
313826,18059067,1537423,0,0.0,1485028413000000000,1.0,1.0,0.526276
87328,3231,8380012,0,0.0,1486781963000000000,1.0,1.0,0.520882
281974,28557277,599582,0,0.0,1496446669000000000,1.0,1.0,0.519866
313523,18059067,836688,0,0.0,1484786011000000000,1.0,1.0,0.518545
107901,31810056,3998706,0,0.0,1490800125000000000,1.0,1.0,0.517417
108891,31810056,4561761,0,0.0,1497641083000000000,1.0,1.0,0.513770
281442,28557277,9311508,0,0.0,1481183208000000000,1.0,1.0,0.505679
282393,28557277,4513173,0,0.0,1481040960000000000,1.0,1.0,0.504812
108675,31810056,5078492,0,0.0,1489586632000000000,1.0,1.0,0.504635
108483,31810056,1938712,0,0.0,1482842038000000000,1.0,1.0,0.503026
280431,28557277,63262,0,0.0,1485843715000000000,1.0,1.0,0.497576
280711,28557277,4663080,0,0.0,1482683634000000000,1.0,1.0,0.491413
313012,18059067,4303400,0,0.0,1489610844000000000,1.0,1.0,0.490431
362760,10847503,896648,0,0.0,1486993441000000000,1.0,1.0,0.486181
87376,3231,767697,0,0.0,1489298908000000000,1.0,1.0,0.484195
362730,10847503,128409,0,0.0,1495019160000000000,1.0,1.0,0.483291
206,1088,74278,0,0.0,1482979055000000000,1.0,1.0,0.472711
281254,28557277,13144134,0,0.0,1494130755000000000,1.0,1.0,0.472264
131417,1486,983421,0,0.0,1489656475000000000,1.0,1.0,0.470891
...,...,...,...,...,...,...,...,...
321555,6876142,159904,0,0.0,1481635611000000000,1.0,1.0,0.280679
292968,7704341,1894044,0,0.0,1494716999000000000,1.0,1.0,0.280662
362770,10847503,29240,0,0.0,1481199632000000000,1.0,1.0,0.280651
162851,28625357,3608199,0,0.0,1488282657000000000,1.0,1.0,0.280638
323989,21382248,8814434,0,0.0,1480295065000000000,1.0,1.0,0.280572
293303,16827100,65809,0,0.0,1488139162000000000,1.0,1.0,0.280518
256992,390,9341074,0,0.0,1484731135000000000,1.0,1.0,0.280496
280850,28557277,835221,0,0.0,1487525877000000000,1.0,1.0,0.280481
292784,7704341,2600288,0,0.0,1497844511000000000,1.0,1.0,0.280464
229620,2331699,2992143,0,0.0,1494218357000000000,1.0,1.0,0.280375
58588,10313229,5642075,0,0.0,1494907539000000000,1.0,1.0,0.280262
256734,390,31038789,0,0.0,1486073087000000000,1.0,1.0,0.280101
362706,10847503,51349,0,0.0,1489969086000000000,1.0,1.0,0.280002
323853,21382248,9190398,0,0.0,1481179990000000000,1.0,1.0,0.279999
107932,31810056,4641,0,0.0,1493875566000000000,1.0,1.0,0.279966
17684,181526,561241,0,0.0,1487371172000000000,1.0,1.0,0.279948
148095,11428873,55775,0,0.0,1495806182000000000,1.0,1.0,0.279775
131366,1486,2600288,0,0.0,1496724361000000000,1.0,1.0,0.279682
312972,18059067,756566,0,0.0,1483799301000000000,1.0,1.0,0.279678
281962,28557277,7151317,0,0.0,1480383166000000000,1.0,1.0,0.279652
233437,2258091,118635,0,0.0,1484742495000000000,1.0,1.0,0.279452
137532,20078281,779441,0,0.0,1487445771000000000,1.0,1.0,0.279337
362771,10847503,83513,0,0.0,1490770058000000000,1.0,1.0,0.279225
809,1088,6405847,0,0.0,1497035877000000000,1.0,1.0,0.279184
110677,13465629,60194,0,0.0,1492402041000000000,1.0,1.0,0.279177
281327,28557277,1445083,0,0.0,1482395997000000000,1.0,1.0,0.279164
108795,31810056,1091142,0,0.0,1487989812000000000,1.0,1.0,0.279148
107910,31810056,7457626,0,0.0,1487736084000000000,1.0,1.0,0.279064
256944,390,2624326,0,0.0,1480458425000000000,1.0,1.0,0.279051
313182,18059067,2552078,0,0.0,1496721280000000000,1.0,1.0,0.278866

In [120]:
# Predictions where repo-user has just a OWNS relationship
(pred_df.loc[(pred_df.interest_rank == 4) & (~pred_df.prediction.isnull())]).sort_values(
    'prediction', ascending=False)

,repo_id,user_id,forked_from_repo_id,owned,created_at,starred,interest_rank,prediction
245113,52878664,2216159,0,4.0,1481755233000000000,0.0,4.0,1.324694e-02
123447,53531959,599582,0,4.0,1482796812000000000,0.0,4.0,8.534327e-04
28325,56322797,10433,0,4.0,1486246603000000000,0.0,4.0,7.693606e-04
64988,52668800,265517,0,4.0,1481575228000000000,0.0,4.0,2.259616e-04
182690,56341200,2606940,0,4.0,1486310145000000000,0.0,4.0,1.769078e-04
285944,53389749,9652,0,4.0,1482540899000000000,0.0,4.0,1.645454e-04
75564,52688610,596995,0,4.0,1481277537000000000,0.0,4.0,3.492491e-05
21771,56725833,10269343,0,4.0,1486185254000000000,0.0,4.0,2.203709e-05
270617,52815179,9539832,0,4.0,1481581418000000000,0.0,4.0,6.324926e-06
114402,56507651,7830654,0,4.0,1486218712000000000,0.0,4.0,4.412424e-06
31448,56531417,693322,0,4.0,1486351589000000000,0.0,4.0,1.965249e-06
68126,52574448,431629,0,4.0,1481571814000000000,0.0,4.0,5.918718e-07
179246,52828234,5744639,0,4.0,1481527494000000000,0.0,4.0,0.000000e+00
182835,60488500,9376712,0,4.0,1490207314000000000,0.0,4.0,0.000000e+00

In [124]:
(pred_df.loc[pred_df.user_id == 2216159]).sort_values('prediction')

,repo_id,user_id,forked_from_repo_id,owned,created_at,starred,interest_rank,prediction
341667,1888252,2216159,0,0.0,1494020921000000000,1.0,1.0,0.009268
263425,48707609,2216159,0,0.0,1492552689000000000,1.0,1.0,0.010063
301943,448145,2216159,0,0.0,1488875850000000000,1.0,1.0,0.010882
245113,52878664,2216159,0,4.0,1481755233000000000,0.0,4.0,0.013247
208757,22062556,2216159,0,0.0,1493975952000000000,1.0,1.0,0.014508
300289,11938248,2216159,0,0.0,1496414680000000000,1.0,1.0,0.016269
17485,38904,2216159,0,0.0,1486028889000000000,1.0,1.0,0.018419
18109,23166017,2216159,0,0.0,1495119413000000000,1.0,1.0,0.022898
350106,8351622,2216159,0,0.0,1485420106000000000,1.0,1.0,0.024398
246063,18155280,2216159,0,0.0,1481019716000000000,1.0,1.0,0.026036
162604,12637297,2216159,0,0.0,1481020013000000000,1.0,1.0,0.038272
41575,20881107,2216159,0,0.0,1492294526000000000,1.0,1.0,0.039578
243022,30289876,2216159,0,0.0,1484341840000000000,1.0,1.0,0.046949
239350,24164103,2216159,0,0.0,1490093889000000000,1.0,1.0,0.054103
213383,28858802,2216159,0,0.0,1486825574000000000,1.0,1.0,0.054984
258850,17302594,2216159,0,0.0,1497271291000000000,1.0,1.0,0.062262
329281,2922392,2216159,0,0.0,1496063001000000000,1.0,1.0,0.084831
187581,32921871,2216159,0,0.0,1483130804000000000,1.0,1.0,0.092820
242070,27972,2216159,0,0.0,1493649497000000000,1.0,1.0,0.102258
51290,15673081,2216159,0,0.0,1494887005000000000,1.0,1.0,0.102494
200369,8089536,2216159,0,0.0,1497991678000000000,1.0,1.0,0.103290
60500,23600889,2216159,0,0.0,1496323948000000000,1.0,1.0,0.111795
126858,9706049,2216159,0,0.0,1480338297000000000,1.0,1.0,0.116618
108138,31810056,2216159,0,0.0,1485126771000000000,1.0,1.0,0.128659
891,2122,2216159,0,0.0,1480430596000000000,1.0,1.0,0.139187
212788,5221787,2216159,0,0.0,1482409962000000000,1.0,1.0,0.140401
247291,7374995,2216159,0,0.0,1480502241000000000,1.0,1.0,0.143993
341484,7537,2216159,0,0.0,1485876143000000000,1.0,1.0,0.163782
173506,12752080,2216159,0,0.0,1497166302000000000,1.0,1.0,0.179530
313027,18059067,2216159,0,0.0,1485126609000000000,1.0,1.0,0.199855
15080,66176563,2216159,65802868,4.0,1496341580000000000,0.0,4.0,NaN
38934,66663146,2216159,66656205,4.0,1496872815000000000,0.0,4.0,NaN
55071,51817561,2216159,0,4.0,1480421264000000000,0.0,4.0,NaN
65223,60909408,2216159,44027965,4.0,1490738268000000000,0.0,4.0,NaN
111106,53171007,2216159,6375705,4.0,1482359485000000000,0.0,4.0,NaN
129508,65543614,2216159,43048050,4.0,1495531120000000000,0.0,4.0,NaN
204226,62792209,2216159,22111779,4.0,1492639213000000000,0.0,4.0,NaN
286006,55580147,2216159,16804767,4.0,1485278943000000000,0.0,4.0,NaN
344311,62692997,2216159,48695106,4.0,1492552697000000000,0.0,4.0,NaN
348865,53609107,2216159,0,0.0,1493065100000000000,1.0,1.0,NaN
361083,56427102,2216159,109156,4.0,1486483362000000000,0.0,4.0,NaN