In [1]:
import pandas as pd
import numpy as np

## Cleanup Users and Repos dataframes

In [2]:
repos = pd.read_csv('data/new_subset_data/new_subset_repos.csv', sep='\t')
repos.info()
repos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188865 entries, 0 to 1188864
Data columns (total 7 columns):
id             1188865 non-null int64
url            1188865 non-null object
owner_id       1188865 non-null int64
name           1188859 non-null object
language       1188865 non-null object
created_at     1188865 non-null object
forked_from    1188865 non-null object
dtypes: int64(2), object(5)
memory usage: 63.5+ MB

,id,url,owner_id,name,language,created_at,forked_from
0,2,https://api.github.com/repos/kennethkalmer/ruo...,4,ruote-kit,Ruby,2009-06-10 20:32:21,\N
1,3,https://api.github.com/repos/matplotlib/basemap,23,basemap,C++,2011-02-19 02:58:42,\N
2,5,https://api.github.com/repos/funkaster/cocos2d-x,28,cocos2d-x,C,2012-03-12 17:48:19,6
3,6,https://api.github.com/repos/cocos2d/cocos2d-x,31,cocos2d-x,C++,2010-11-18 23:17:00,\N
4,10,https://api.github.com/repos/chapuni/llvm,67,llvm,C++,2011-02-01 09:11:48,\N

In [3]:
repos.id.sort_values().head()

0     2
1     3
2     5
3     6
4    10
Name: id, dtype: int64

In [4]:
repos.loc[repos.forked_from == '\N', 'forked_from'] = '0'

In [5]:
repos.forked_from = pd.to_numeric(repos.forked_from)

In [6]:
repos.created_at = pd.to_datetime(repos.created_at)

In [7]:
repos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188865 entries, 0 to 1188864
Data columns (total 7 columns):
id             1188865 non-null int64
url            1188865 non-null object
owner_id       1188865 non-null int64
name           1188859 non-null object
language       1188865 non-null object
created_at     1188865 non-null datetime64[ns]
forked_from    1188865 non-null int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 63.5+ MB

In [16]:
repos.to_pickle('data/pickled/new_subset_repos.pkl')

In [8]:
users = pd.read_csv('data/new_subset_data/new_subset_users.csv', sep='\t')
users.info()
users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50008 entries, 0 to 50007
Data columns (total 9 columns):
id              50008 non-null int64
login           50008 non-null object
company         49988 non-null object
created_at      50008 non-null object
type            50008 non-null object
country_code    50008 non-null object
state           50008 non-null object
city            50008 non-null object
location        50007 non-null object
dtypes: int64(1), object(8)
memory usage: 3.4+ MB

,id,login,company,created_at,type,country_code,state,city,location
0,421183,msizov,\N,2012-07-28 09:25:36,USR,\N,\N,\N,\N
1,8711566,Holy87,\N,2014-06-20 14:09:22,USR,\N,\N,\N,Neaples
2,1523784,ghswa,\N,2012-11-30 13:14:01,USR,gb,\N,\N,UK
3,5553551,yienren,\N,2013-04-13 12:01:22,USR,\N,\N,\N,\N
4,3742542,glurp,\N,2008-10-05 10:24:08,USR,fr,IdF,Paris,"paris, france"

In [13]:
users.location.fillna('\\N',inplace = True)
users.company.fillna('\\N',inplace = True)

In [14]:
users.created_at = pd.to_datetime(users.created_at)

In [15]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50008 entries, 0 to 50007
Data columns (total 9 columns):
id              50008 non-null int64
login           50008 non-null object
company         50008 non-null object
created_at      50008 non-null datetime64[ns]
type            50008 non-null object
country_code    50008 non-null object
state           50008 non-null object
city            50008 non-null object
location        50008 non-null object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 3.4+ MB

In [17]:
users.to_pickle('data/pickled/new_subset_users.pkl')

## Create Forked repo relationships between User -> Repo

In [18]:
repos = pd.read_pickle('data/pickled/new_subset_repos.pkl')
users = pd.read_pickle('data/pickled/new_subset_users.pkl')

In [19]:
repos.info()
print "-----------------------------------"
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188865 entries, 0 to 1188864
Data columns (total 7 columns):
id             1188865 non-null int64
url            1188865 non-null object
owner_id       1188865 non-null int64
name           1188859 non-null object
language       1188865 non-null object
created_at     1188865 non-null datetime64[ns]
forked_from    1188865 non-null int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 63.5+ MB
-----------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50008 entries, 0 to 50007
Data columns (total 9 columns):
id              50008 non-null int64
login           50008 non-null object
company         50008 non-null object
created_at      50008 non-null datetime64[ns]
type            50008 non-null object
country_code    50008 non-null object
state           50008 non-null object
city            50008 non-null object
location        50008 non-null object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 3.4+ MB

In [97]:
forked = repos[['owner_id', 'forked_from', 'created_at']]
forked = forked.rename(columns={'owner_id': 'user_id', 'forked_from': 'repo_id'})
forked['forked'] = 2
forked.head()
forked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228180 entries, 0 to 228179
Data columns (total 4 columns):
user_id       228180 non-null int64
repo_id       228180 non-null int64
created_at    228180 non-null datetime64[ns]
forked        228180 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 7.0 MB

In [98]:
forked = forked[forked.repo_id != 0]
forked.info()
forked.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133747 entries, 3 to 228179
Data columns (total 4 columns):
user_id       133747 non-null int64
repo_id       133747 non-null int64
created_at    133747 non-null datetime64[ns]
forked        133747 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 5.1 MB

     user_id   repo_id          created_at  forked
3   10557672   2149824 2015-11-17 16:14:36       2
8    7951407  51352312 2017-02-07 13:29:06       2
9     138931   3489262 2017-03-07 10:16:07       2
14   4611054   9805335 2017-01-23 06:15:41       2
17   2135533  51272249 2016-12-08 13:17:53       2

In [ ]:
# forked.to_pickle('data/pickled/active_forks.pkl')

## Create Owns relationship between User -> Repo
#### A user who FORKED a repo also OWNS it, but a repo that a user OWNS was not necessarily FORKED.
I don't think owning a repo versus forking a repo has any hierarchical relationship. 
So I'll use OWNS to denote a repo which was either forked or created by a user

In [3]:
repos = pd.read_pickle('data/pickled/new_subset_repos.pkl')

In [20]:
repos.head()

,id,url,owner_id,name,language,created_at,forked_from
0,2,https://api.github.com/repos/kennethkalmer/ruo...,4,ruote-kit,Ruby,2009-06-10 20:32:21,0
1,3,https://api.github.com/repos/matplotlib/basemap,23,basemap,C++,2011-02-19 02:58:42,0
2,5,https://api.github.com/repos/funkaster/cocos2d-x,28,cocos2d-x,C,2012-03-12 17:48:19,6
3,6,https://api.github.com/repos/cocos2d/cocos2d-x,31,cocos2d-x,C++,2010-11-18 23:17:00,0
4,10,https://api.github.com/repos/chapuni/llvm,67,llvm,C++,2011-02-01 09:11:48,0

In [21]:
owns = repos[['id', 'owner_id', 'forked_from', 'created_at']]
owns = owns.rename(columns={'id': 'repo_id', 'owner_id': 'user_id', 'forked_from': 'forked_from_repo_id'})
owns['owned'] = 4

In [22]:
owns.info()
owns.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188865 entries, 0 to 1188864
Data columns (total 5 columns):
repo_id                1188865 non-null int64
user_id                1188865 non-null int64
forked_from_repo_id    1188865 non-null int64
created_at             1188865 non-null datetime64[ns]
owned                  1188865 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 45.4 MB

   repo_id  user_id  forked_from_repo_id          created_at  owned
0        2        4                    0 2009-06-10 20:32:21      4
1        3       23                    0 2011-02-19 02:58:42      4
2        5       28                    6 2012-03-12 17:48:19      4
3        6       31                    0 2010-11-18 23:17:00      4
4       10       67                    0 2011-02-01 09:11:48      4
5       11       69                    0 2011-05-16 21:41:09      4
6       19       78                    0 2009-01-05 14:00:43      4
7       23       86                    0 2011-08-23 02:30:04      4
8       27       89              1262879 2011-12-25 14:51:08      4
9       28      102                    0 2008-11-03 11:19:43      4

In [28]:
# created_at denotes date the fork was created, not the original repo creation date
print owns.loc[owns.repo_id == 28922584]
owns.loc[owns.repo_id == 2149824]

    repo_id   user_id  forked_from_repo_id          created_at  owned
3  28922584  10557672              2149824 2015-11-17 16:14:36      4

        repo_id  user_id  forked_from_repo_id          created_at  owned
140738  2149824   149580                    0 2013-01-13 18:54:59      4

In [23]:
owns.to_pickle('data/pickled/new_subset_owns.pkl')

## Create Starred relationship between User -> Repo

In [24]:
stars = pd.read_csv('data/new_subset_data/new_subset_stars.csv', sep='\t')
stars.info()
stars.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395573 entries, 0 to 2395572
Data columns (total 3 columns):
repo_id       int64
user_id       int64
created_at    object
dtypes: int64(2), object(1)
memory usage: 54.8+ MB

   repo_id  user_id           created_at
0      708   421183  2012-07-30 11:10:10
1      992   421183  2012-07-28 09:25:36
2     4077   421183  2012-08-21 08:24:15
3     4654   421183  2012-08-01 23:48:50
4     8845   421183  2012-07-30 12:57:14

In [32]:
stars.created_at = pd.to_datetime(stars.created_at)
stars['starred'] = 1

In [33]:
stars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395573 entries, 0 to 2395572
Data columns (total 4 columns):
repo_id       int64
user_id       int64
created_at    datetime64[ns]
starred       int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 73.1 MB

In [34]:
stars.to_pickle('data/pickled/new_subset_starred.pkl')

## Combine the Star & Own actions dfs to create implicit ratings
#### I'm leaving out FORKS since a fork is always owned, but and owned repo is not always a fork

In [35]:
owns = pd.read_pickle('data/pickled/new_subset_owns.pkl')
stars = pd.read_pickle('data/pickled/new_subset_starred.pkl')

In [36]:
stars.info()
owns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395573 entries, 0 to 2395572
Data columns (total 4 columns):
repo_id       int64
user_id       int64
created_at    datetime64[ns]
starred       int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 73.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188865 entries, 0 to 1188864
Data columns (total 5 columns):
repo_id                1188865 non-null int64
user_id                1188865 non-null int64
forked_from_repo_id    1188865 non-null int64
created_at             1188865 non-null datetime64[ns]
owned                  1188865 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 45.4 MB

In [37]:
own_star = pd.merge(owns, stars, how='outer', on=['user_id', 'repo_id'], suffixes=('_own', '_star'))
own_star.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3540504 entries, 0 to 3540503
Data columns (total 7 columns):
repo_id                int64
user_id                int64
forked_from_repo_id    float64
created_at_own         datetime64[ns]
owned                  float64
created_at_star        datetime64[ns]
starred                float64
dtypes: datetime64[ns](2), float64(3), int64(2)
memory usage: 216.1 MB

In [38]:
own_star.head(20)

,repo_id,user_id,forked_from_repo_id,created_at_own,owned,created_at_star,starred
0,2,4,0.0,2009-06-10 20:32:21,4.0,NaT,NaN
1,3,23,0.0,2011-02-19 02:58:42,4.0,NaT,NaN
2,5,28,6.0,2012-03-12 17:48:19,4.0,NaT,NaN
3,6,31,0.0,2010-11-18 23:17:00,4.0,NaT,NaN
4,10,67,0.0,2011-02-01 09:11:48,4.0,2011-02-01 08:11:48,1.0
5,11,69,0.0,2011-05-16 21:41:09,4.0,NaT,NaN
6,19,78,0.0,2009-01-05 14:00:43,4.0,NaT,NaN
7,23,86,0.0,2011-08-23 02:30:04,4.0,NaT,NaN
8,27,89,1262879.0,2011-12-25 14:51:08,4.0,NaT,NaN
9,28,102,0.0,2008-11-03 11:19:43,4.0,NaT,NaN
10,29,111,0.0,2012-07-19 09:40:17,4.0,NaT,NaN
11,31,136,0.0,2009-10-06 12:30:19,4.0,NaT,NaN
12,34,142,0.0,2011-09-08 16:52:50,4.0,NaT,NaN
13,35,145,0.0,2012-06-24 19:08:50,4.0,NaT,NaN
14,37,159,0.0,2010-01-06 00:34:37,4.0,NaT,NaN
15,39,161,0.0,2011-04-02 16:38:32,4.0,NaT,NaN
16,40,166,0.0,2012-05-31 11:09:08,4.0,NaT,NaN
17,42,178,207450.0,2011-10-27 01:17:37,4.0,NaT,NaN
18,49,208,12363088.0,2014-10-07 13:48:58,4.0,NaT,NaN
19,52,216,0.0,2009-12-02 06:46:03,4.0,NaT,NaN

In [39]:
own_star.forked_from_repo_id.fillna(0, inplace=True)
own_star.forked_from_repo_id = own_star.forked_from_repo_id.astype(np.int64)

In [40]:
own_star['interest_rank'] = own_star[['starred','owned']].sum(axis=1)
own_star.head(20)

,repo_id,user_id,forked_from_repo_id,created_at_own,owned,created_at_star,starred,interest_rank
0,2,4,0,2009-06-10 20:32:21,4.0,NaT,NaN,4.0
1,3,23,0,2011-02-19 02:58:42,4.0,NaT,NaN,4.0
2,5,28,6,2012-03-12 17:48:19,4.0,NaT,NaN,4.0
3,6,31,0,2010-11-18 23:17:00,4.0,NaT,NaN,4.0
4,10,67,0,2011-02-01 09:11:48,4.0,2011-02-01 08:11:48,1.0,5.0
5,11,69,0,2011-05-16 21:41:09,4.0,NaT,NaN,4.0
6,19,78,0,2009-01-05 14:00:43,4.0,NaT,NaN,4.0
7,23,86,0,2011-08-23 02:30:04,4.0,NaT,NaN,4.0
8,27,89,1262879,2011-12-25 14:51:08,4.0,NaT,NaN,4.0
9,28,102,0,2008-11-03 11:19:43,4.0,NaT,NaN,4.0
10,29,111,0,2012-07-19 09:40:17,4.0,NaT,NaN,4.0
11,31,136,0,2009-10-06 12:30:19,4.0,NaT,NaN,4.0
12,34,142,0,2011-09-08 16:52:50,4.0,NaT,NaN,4.0
13,35,145,0,2012-06-24 19:08:50,4.0,NaT,NaN,4.0
14,37,159,0,2010-01-06 00:34:37,4.0,NaT,NaN,4.0
15,39,161,0,2011-04-02 16:38:32,4.0,NaT,NaN,4.0
16,40,166,0,2012-05-31 11:09:08,4.0,NaT,NaN,4.0
17,42,178,207450,2011-10-27 01:17:37,4.0,NaT,NaN,4.0
18,49,208,12363088,2014-10-07 13:48:58,4.0,NaT,NaN,4.0
19,52,216,0,2009-12-02 06:46:03,4.0,NaT,NaN,4.0

In [41]:
# Where repos are both owned and starred
(own_star[~own_star['starred'].isnull() & ~own_star['owned'].isnull()]).shape

(43934, 8)

In [42]:
own_star.sort_values(by=['user_id', 'repo_id']).head(10)

,repo_id,user_id,forked_from_repo_id,created_at_own,owned,created_at_star,starred,interest_rank
39758,301466,1,0,2010-02-09 11:41:12,4.0,NaT,NaN,4.0
210960,5074084,1,0,2009-12-04 09:56:46,4.0,NaT,NaN,4.0
7002,25532,2,0,2010-04-02 08:15:45,4.0,NaT,NaN,4.0
8074,28923,2,0,2008-04-10 02:07:50,4.0,NaT,NaN,4.0
13240,49907,2,0,2008-04-01 04:21:05,4.0,NaT,NaN,4.0
24994,133800,2,0,2011-02-10 08:49:30,4.0,NaT,NaN,4.0
28827,169210,2,0,2009-08-05 14:23:00,4.0,NaT,NaN,4.0
36995,258837,2,0,2008-04-21 22:57:26,4.0,NaT,NaN,4.0
50992,504851,2,0,2008-12-06 13:02:09,4.0,NaT,NaN,4.0
56529,623841,2,0,2011-11-22 11:41:06,4.0,NaT,NaN,4.0

In [43]:
own_star['created_at_star'] = own_star['created_at_star'].fillna(own_star['created_at_own'])

In [44]:
own_star.drop(['created_at_own'], axis=1, inplace=True)

In [45]:
own_star.rename(columns={'created_at_star': 'created_at'}, inplace=True)
own_star.head(10)

,repo_id,user_id,forked_from_repo_id,owned,created_at,starred,interest_rank
0,2,4,0,4.0,2009-06-10 20:32:21,NaN,4.0
1,3,23,0,4.0,2011-02-19 02:58:42,NaN,4.0
2,5,28,6,4.0,2012-03-12 17:48:19,NaN,4.0
3,6,31,0,4.0,2010-11-18 23:17:00,NaN,4.0
4,10,67,0,4.0,2011-02-01 08:11:48,1.0,5.0
5,11,69,0,4.0,2011-05-16 21:41:09,NaN,4.0
6,19,78,0,4.0,2009-01-05 14:00:43,NaN,4.0
7,23,86,0,4.0,2011-08-23 02:30:04,NaN,4.0
8,27,89,1262879,4.0,2011-12-25 14:51:08,NaN,4.0
9,28,102,0,4.0,2008-11-03 11:19:43,NaN,4.0

In [46]:
own_star.fillna(0, inplace=True)
own_star.head(20)

,repo_id,user_id,forked_from_repo_id,owned,created_at,starred,interest_rank
0,2,4,0,4.0,2009-06-10 20:32:21,0.0,4.0
1,3,23,0,4.0,2011-02-19 02:58:42,0.0,4.0
2,5,28,6,4.0,2012-03-12 17:48:19,0.0,4.0
3,6,31,0,4.0,2010-11-18 23:17:00,0.0,4.0
4,10,67,0,4.0,2011-02-01 08:11:48,1.0,5.0
5,11,69,0,4.0,2011-05-16 21:41:09,0.0,4.0
6,19,78,0,4.0,2009-01-05 14:00:43,0.0,4.0
7,23,86,0,4.0,2011-08-23 02:30:04,0.0,4.0
8,27,89,1262879,4.0,2011-12-25 14:51:08,0.0,4.0
9,28,102,0,4.0,2008-11-03 11:19:43,0.0,4.0
10,29,111,0,4.0,2012-07-19 09:40:17,0.0,4.0
11,31,136,0,4.0,2009-10-06 12:30:19,0.0,4.0
12,34,142,0,4.0,2011-09-08 16:52:50,0.0,4.0
13,35,145,0,4.0,2012-06-24 19:08:50,0.0,4.0
14,37,159,0,4.0,2010-01-06 00:34:37,0.0,4.0
15,39,161,0,4.0,2011-04-02 16:38:32,0.0,4.0
16,40,166,0,4.0,2012-05-31 11:09:08,0.0,4.0
17,42,178,207450,4.0,2011-10-27 01:17:37,0.0,4.0
18,49,208,12363088,4.0,2014-10-07 13:48:58,0.0,4.0
19,52,216,0,4.0,2009-12-02 06:46:03,0.0,4.0

In [47]:
own_star.to_pickle('data/pickled/new_subset_own_and_star.pkl')

## How many repos were starred THEN forked by a user?

In [77]:
f_and_s = pd.read_pickle('data/pickled/forks_and_stars.pkl')
f_and_s.columns

Index([u'user_id', u'repo_id', u'forked', u'created_at', u'starred',
       u'interest_rank'],
      dtype='object')

In [74]:
# how many repos were starred and forked
f_and_s_eda = (f_and_s[~f_and_s['starred'].isnull() & ~f_and_s['forked'].isnull()]).copy()
f_and_s_eda.shape[0]

1016532

In [75]:
#Number of repos starred AFTER they were forked by a user
(f_and_s_eda[f_and_s_eda.created_at_star >= f_and_s_eda.created_at_fork]).shape[0]

AttributeError: 'DataFrame' object has no attribute 'created_at_star'

In [76]:
#Number of repos starred BEFORE they were forked by a user
(f_and_s_eda[f_and_s_eda.created_at_star < f_and_s_eda.created_at_fork]).shape[0]

AttributeError: 'DataFrame' object has no attribute 'created_at_star'

In [167]:
f_and_s_eda.sort_values(by=['user_id', 'repo_id'])

,user_id,repo_id,created_at_fork,forked,created_at_star,starred,interest_rank
28052,10,20078281,2015-05-25 14:06:50,2.0,2014-11-26 19:57:11,1.0,3.0
78424,10,43644249,2017-05-18 16:07:18,2.0,2017-01-16 09:21:27,1.0,3.0
855,30,6,2011-03-16 02:46:22,2.0,2010-11-19 08:06:45,1.0,3.0
361,32,6,2011-09-19 03:20:38,2.0,2010-11-23 12:02:36,1.0,3.0
39802,107,13860,2015-12-04 17:57:32,2.0,2014-10-09 06:47:45,1.0,3.0
22713,203,10313229,2014-01-22 05:29:04,2.0,2010-06-16 18:39:03,1.0,3.0
24038,245,10887897,2017-04-11 05:30:13,2.0,2017-04-11 05:26:04,1.0,3.0
90113,283,6830,2017-05-25 06:38:36,2.0,2015-10-10 08:52:43,1.0,3.0
44249,300,205522,2017-03-14 10:43:09,2.0,2011-07-02 09:07:47,1.0,3.0
133745,418,13758182,2017-03-02 23:13:52,2.0,2016-07-03 22:25:22,1.0,3.0
120131,418,22678742,2017-06-16 23:36:07,2.0,2016-02-19 22:33:21,1.0,3.0
71394,627,62741,2017-05-13 14:15:54,2.0,2011-04-21 01:06:38,1.0,3.0
817,640,10070,2014-11-19 15:08:31,2.0,2010-02-17 07:43:51,1.0,3.0
5799,705,8700,2011-04-07 20:50:31,2.0,2010-09-07 14:59:23,1.0,3.0
99444,711,29262032,2017-06-04 20:17:15,2.0,2015-12-03 16:46:05,1.0,3.0
917,714,790408,2017-01-15 16:51:20,2.0,2013-01-20 17:28:55,1.0,3.0
89306,717,2642125,2017-05-27 15:37:10,2.0,2017-05-27 15:37:08,1.0,3.0
34512,777,7129862,2015-06-14 00:06:10,2.0,2015-06-13 21:18:40,1.0,3.0
567,777,10313229,2013-05-05 20:54:13,2.0,2017-01-18 13:40:49,1.0,3.0
86526,861,4735,2011-11-29 19:56:27,2.0,2011-04-20 07:43:17,1.0,3.0
76300,862,10313229,2014-06-05 13:20:14,2.0,2017-01-03 15:22:07,1.0,3.0
106067,862,21164391,2017-06-09 12:57:48,2.0,2015-06-11 14:10:44,1.0,3.0
38658,866,4876188,2011-12-21 15:44:16,2.0,2013-08-10 10:11:35,1.0,3.0
4253,866,4952338,2011-08-12 15:45:00,2.0,2013-08-16 10:06:08,1.0,3.0
86912,869,8797396,2014-06-28 22:41:55,2.0,2014-10-02 22:10:26,1.0,3.0
23429,869,10313229,2010-07-16 23:45:53,2.0,2010-06-16 18:39:03,1.0,3.0
72669,871,3430197,2016-12-05 07:06:20,2.0,2016-12-17 07:33:47,1.0,3.0
47168,884,4952338,2011-08-11 16:57:01,2.0,2013-08-16 10:06:08,1.0,3.0
15541,884,22069563,2015-08-28 18:20:46,2.0,2015-09-02 11:48:25,1.0,3.0
7157,886,4952338,2011-11-01 08:04:04,2.0,2013-08-16 10:06:08,1.0,3.0
...,...,...,...,...,...,...,...
114469,36454985,9737059,2017-06-16 04:17:36,2.0,2017-06-23 06:16:13,1.0,3.0
110098,36460114,23703003,2017-06-12 09:19:53,2.0,2017-06-14 02:42:36,1.0,3.0
130143,36463162,5445061,2017-06-28 11:58:22,2.0,2017-06-12 12:27:56,1.0,3.0
109434,36469973,3924021,2017-06-12 19:21:39,2.0,2017-06-12 19:21:38,1.0,3.0
110661,36484435,55877825,2017-06-13 13:36:20,2.0,2017-06-13 13:39:13,1.0,3.0
124272,36490631,17324541,2017-06-23 13:58:19,2.0,2017-06-19 14:42:47,1.0,3.0
111539,36493390,424503,2017-06-14 00:52:45,2.0,2017-06-14 00:52:35,1.0,3.0
125179,36504099,3391191,2017-06-24 09:53:08,2.0,2017-06-14 13:29:23,1.0,3.0
112550,36509502,8153714,2017-06-14 19:08:36,2.0,2017-06-14 19:26:06,1.0,3.0
112755,36511174,15940963,2017-06-14 21:30:30,2.0,2017-06-16 14:56:42,1.0,3.0
116459,36518930,9793,2017-06-16 21:16:57,2.0,2017-06-16 05:50:42,1.0,3.0
115793,36545241,66842864,2017-06-16 17:17:57,2.0,2017-06-16 17:17:45,1.0,3.0
116535,36560917,55839892,2017-06-18 00:04:22,2.0,2017-06-18 00:02:30,1.0,3.0
117955,36579113,3262675,2017-06-19 09:03:21,2.0,2017-06-19 09:03:19,1.0,3.0
132637,36599791,20707,2017-06-30 04:11:17,2.0,2017-06-20 09:28:50,1.0,3.0
120314,36609583,29693462,2017-06-20 22:59:07,2.0,2017-06-20 19:24:53,1.0,3.0
122594,36621068,7280971,2017-06-22 10:39:15,2.0,2017-06-22 10:56:29,1.0,3.0
123847,36644317,9514,2017-06-23 06:09:11,2.0,2017-06-23 08:53:34,1.0,3.0
123140,36648072,32541723,2017-06-22 18:34:13,2.0,2017-06-22 18:34:09,1.0,3.0
123581,36649013,26351688,2017-06-23 00:12:37,2.0,2017-06-25 19:15:18,1.0,3.0
123751,36649486,3260585,2017-06-22 20:27:59,2.0,2017-06-22 20:30:27,1.0,3.0
126488,36661095,7537,2017-06-26 01:11:17,2.0,2017-06-25 20:06:26,1.0,3.0
127092,36682746,17430221,2017-06-25 05:32:06,2.0,2017-06-26 15:41:47,1.0,3.0
127218,36701876,2662200,2017-06-26 13:47:03,2.0,2017-06-26 14:04:01,1.0,3.0
133391,36706034,68128032,2017-06-30 17:44:03,2.0,2017-06-30 17:01:10,1.0,3.0
129996,36721649,39075,2017-06-28 08:54:59,2.0,2017-06-27 12:41:49,1.0,3.0
129944,36733735,15881,2017-06-28 07:26:38,2.0,2017-06-28 07:26:35,1.0,3.0
133263,36782263,30435325,2017-06-30 15:39:13,2.0,2017-06-30 17:27:26,1.0,3.0
133600,36788514,11250,2017-06-30 20:37:17,2.0,2017-06-30 21:35:41,1.0,3.0
133692,36791293,20711751,2017-06-30 22:28:02,2.0,2017-06-30 22:29:16,1.0,3.0

In [185]:
f_and_s_eda[f_and_s_eda.created_at_star >= f_and_s_eda.created_at_fork]

,user_id,repo_id,created_at_fork,forked,created_at_star,starred,interest_rank
14,809492,19091882,2015-06-05 22:12:32,2.0,2016-06-17 01:19:49,1.0,3.0
26,3351,7704341,2014-02-28 23:17:54,2.0,2016-11-16 07:11:46,1.0,3.0
35,2381056,21382248,2015-10-06 16:36:40,2.0,2015-10-17 03:30:19,1.0,3.0
44,730680,8206594,2017-03-18 13:46:54,2.0,2017-03-24 13:21:32,1.0,3.0
62,3925561,10739107,2014-07-14 22:08:29,2.0,2015-10-12 17:50:58,1.0,3.0
63,1961499,898600,2013-07-24 08:40:55,2.0,2014-05-31 17:03:26,1.0,3.0
77,7121874,27842288,2015-10-27 13:25:02,2.0,2017-01-19 11:06:37,1.0,3.0
90,626216,13155973,2014-11-05 15:24:41,2.0,2015-06-15 18:46:17,1.0,3.0
91,9525404,56189053,2017-02-02 14:39:33,2.0,2017-04-21 03:27:01,1.0,3.0
136,6509770,24311289,2015-12-29 02:13:54,2.0,2016-01-31 18:05:51,1.0,3.0
157,4549136,853,2015-02-26 04:33:17,2.0,2016-01-22 22:51:27,1.0,3.0
162,7834455,17023054,2016-10-06 19:58:48,2.0,2017-03-28 18:12:53,1.0,3.0
172,34892901,6075127,2017-03-21 23:21:26,2.0,2017-04-11 18:00:39,1.0,3.0
186,872950,10850508,2014-07-25 15:58:23,2.0,2017-02-01 22:25:49,1.0,3.0
188,323270,38958,2014-08-19 14:18:37,2.0,2014-08-27 19:59:32,1.0,3.0
201,14195,3085,2011-04-09 22:51:29,2.0,2012-07-27 16:17:50,1.0,3.0
210,2624822,22073200,2015-03-25 02:57:20,2.0,2017-02-08 05:52:20,1.0,3.0
211,1012846,18404550,2015-12-01 20:15:22,2.0,2015-12-04 05:20:56,1.0,3.0
219,7005455,15889688,2015-04-27 21:34:06,2.0,2016-01-28 19:26:36,1.0,3.0
249,6081505,219297,2015-02-08 00:57:41,2.0,2015-03-04 23:15:56,1.0,3.0
253,2567162,29261651,2016-01-06 22:55:53,2.0,2016-02-04 01:05:06,1.0,3.0
254,250540,7308496,2014-08-29 23:43:46,2.0,2015-04-02 15:30:28,1.0,3.0
271,242036,14794450,2014-10-05 06:17:14,2.0,2015-08-16 07:15:13,1.0,3.0
292,3951151,9666566,2014-05-14 15:40:43,2.0,2014-05-29 08:59:56,1.0,3.0
300,1269059,13378441,2015-11-30 00:15:59,2.0,2017-04-13 05:23:57,1.0,3.0
314,170973,7982053,2013-01-25 00:29:28,2.0,2014-09-30 17:11:01,1.0,3.0
319,7648229,22103199,2016-11-08 16:31:40,2.0,2016-11-10 01:17:21,1.0,3.0
328,3204108,22099924,2015-09-12 02:28:36,2.0,2017-03-18 23:04:41,1.0,3.0
342,68589,3777,2015-01-11 17:41:26,2.0,2015-05-26 05:15:55,1.0,3.0
362,6093875,28947096,2015-11-18 15:52:29,2.0,2016-12-14 20:51:37,1.0,3.0
...,...,...,...,...,...,...,...
131801,8230472,11610797,2017-06-29 14:18:20,2.0,2017-06-30 12:59:35,1.0,3.0
131838,7861142,5557780,2017-06-29 14:11:33,2.0,2017-06-29 14:12:02,1.0,3.0
131862,1291330,43279727,2016-12-05 10:57:55,2.0,2017-02-14 13:06:21,1.0,3.0
132142,1701060,8956949,2017-02-10 22:06:40,2.0,2017-06-06 03:15:01,1.0,3.0
132161,5737989,20853,2015-09-14 21:06:26,2.0,2015-09-22 09:22:17,1.0,3.0
132184,738758,4710880,2017-06-29 19:27:26,2.0,2017-06-30 16:28:53,1.0,3.0
132297,33454233,19138091,2017-06-05 21:21:39,2.0,2017-06-08 14:44:03,1.0,3.0
132320,155943,29682030,2017-06-29 21:47:16,2.0,2017-06-30 20:26:13,1.0,3.0
132375,7639525,62447,2017-06-29 22:07:25,2.0,2017-06-30 19:33:08,1.0,3.0
132432,209898,21658287,2017-06-29 23:52:43,2.0,2017-06-30 00:00:11,1.0,3.0
132543,241833,35089427,2017-06-29 19:45:44,2.0,2017-06-30 02:18:38,1.0,3.0
132551,13681569,11390269,2017-06-30 02:53:08,2.0,2017-06-30 03:07:55,1.0,3.0
132556,415123,7293908,2015-12-09 02:34:25,2.0,2016-02-19 02:13:47,1.0,3.0
132560,2789289,35400,2016-10-11 02:06:47,2.0,2016-10-22 03:44:10,1.0,3.0
132584,34329564,367,2017-06-29 17:27:16,2.0,2017-06-30 06:22:47,1.0,3.0
132610,33710316,13393876,2017-04-04 01:33:57,2.0,2017-04-04 01:38:06,1.0,3.0
132652,6937921,23703003,2017-06-28 00:12:17,2.0,2017-06-30 05:42:49,1.0,3.0
132726,6646226,16614990,2017-06-30 04:33:54,2.0,2017-06-30 07:43:39,1.0,3.0
132820,1576392,6093,2013-12-14 11:37:15,2.0,2015-09-05 06:01:21,1.0,3.0
132831,3634327,11367097,2017-06-30 04:17:17,2.0,2017-06-30 04:17:42,1.0,3.0
132937,9782389,13808502,2017-06-21 07:10:35,2.0,2017-06-21 11:08:15,1.0,3.0
132946,13156095,18799,2017-02-14 22:47:04,2.0,2017-03-30 17:24:14,1.0,3.0
133006,3395350,10741423,2015-12-16 10:50:30,2.0,2016-05-18 06:30:40,1.0,3.0
133263,36782263,30435325,2017-06-30 15:39:13,2.0,2017-06-30 17:27:26,1.0,3.0
133593,38682,22184029,2017-03-27 23:44:39,2.0,2017-03-28 00:11:48,1.0,3.0
133600,36788514,11250,2017-06-30 20:37:17,2.0,2017-06-30 21:35:41,1.0,3.0
133642,4825902,5181711,2017-06-26 18:54:23,2.0,2017-06-26 19:00:21,1.0,3.0
133680,6739674,18751731,2017-06-30 22:20:59,2.0,2017-06-30 23:05:05,1.0,3.0
133692,36791293,20711751,2017-06-30 22:28:02,2.0,2017-06-30 22:29:16,1.0,3.0
133710,32313259,28578925,2016-12-21 17:12:20,2.0,2017-01-11 18:25:46,1.0,3.0

In [225]:
f_and_s_eda['time_star2fork'] = f_and_s_eda['created_at_fork'].subtract(
    f_and_s_eda['created_at_star'])
f_and_s_eda['time_star2fork_int'] = pd.to_numeric(f_and_s_eda['time_star2fork'])
f_and_s_eda.sort_values(by=['user_id', 'repo_id']).head(10)

,user_id,repo_id,created_at_fork,forked,created_at_star,starred,interest_rank,time_star2fork,time_star2fork_int
28052,10,20078281,2015-05-25 14:06:50,2.0,2014-11-26 19:57:11,1.0,3.0,179 days 18:09:39,15530979000000000
78424,10,43644249,2017-05-18 16:07:18,2.0,2017-01-16 09:21:27,1.0,3.0,122 days 06:45:51,10565151000000000
855,30,6,2011-03-16 02:46:22,2.0,2010-11-19 08:06:45,1.0,3.0,116 days 18:39:37,10089577000000000
361,32,6,2011-09-19 03:20:38,2.0,2010-11-23 12:02:36,1.0,3.0,299 days 15:18:02,25888682000000000
39802,107,13860,2015-12-04 17:57:32,2.0,2014-10-09 06:47:45,1.0,3.0,421 days 11:09:47,36414587000000000
22713,203,10313229,2014-01-22 05:29:04,2.0,2010-06-16 18:39:03,1.0,3.0,1315 days 10:50:01,113655001000000000
24038,245,10887897,2017-04-11 05:30:13,2.0,2017-04-11 05:26:04,1.0,3.0,0 days 00:04:09,249000000000
90113,283,6830,2017-05-25 06:38:36,2.0,2015-10-10 08:52:43,1.0,3.0,592 days 21:45:53,51227153000000000
44249,300,205522,2017-03-14 10:43:09,2.0,2011-07-02 09:07:47,1.0,3.0,2082 days 01:35:22,179890522000000000
133745,418,13758182,2017-03-02 23:13:52,2.0,2016-07-03 22:25:22,1.0,3.0,242 days 00:48:30,20911710000000000

In [72]:
plt.figure(figsize=(10,5))
plt.hist(f_and_s_eda['time_star2fork_int'], bins=100)
plt.title("Repos Both Starred and Forked")
plt.xlabel("Time From Star and Fork (sec)")
plt.ylabel("User-to-Repo Interactions");
plt.xlim((-1e17,1e17));

NameError: name 'f_and_s_eda' is not defined

## Create a user-to-repo lookup dataframe

In [102]:
repos = pd.read_pickle('data/pickled/active_repos.pkl')
users = pd.read_pickle('data/pickled/active_users.pkl')

In [103]:
from itertools import product

In [105]:
user_repo_lookup = pd.DataFrame(list(product(users['id'], repos['id'])), columns=['user_id', 'repo_id'])
user_repo_lookup.head(50)

MemoryError:

In [54]:
# Nevermind. Too big of a dataframe :/